<h1>Library on Rails</h1>
<h3>Welcome <%= "#{current_user.role} #{current_user.email}" if user_signed_in? %> </h3>


<% if user_signed_in? %>
  <%= link_to "Borrow books", books_path, class: "btn btn-primary" if current_user.member?  %>
  <%= link_to "access to admin", admin_overview_index_path, class: "btn btn-primary" if current_user.librarian?  %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
